
<br></br>


<%= link_to "의", posts_wear_path, class: "btn btn-default" %>
<%= link_to "식", posts_eat_path, class: "btn btn-default" %>
<%= link_to "주", posts_live_path, class: "btn btn-default" %>
<%= link_to "락", posts_culture_path, class: "btn btn-default" %>
