
 <%= simple_form_for @post do |f| %>
    <%= f.input :category, collection: Post.categories.keys, input_html: { :style=> 'width: 100px'} %>
    <%= f.input :season, collection: Post.seasons.keys, input_html: { :style=> 'width: 100px'} %>
    <%= f.text_field :title %>
    <br></br>
    <%= f.cktext_area :content %>
  	<%= f.submit %>
 <% end %>

 