<table class="table table-striped">
	<thead>
		<tr>
			<th>제목</th>
			
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
				<tr>
						<td><%= link_to post.title, post%>

				</tr>
		<% end %>
	</tbody>
</table>