<h3><%=@post.title%></h3>
<h5 style="text-align:right"><%=@post.created_at%></h5>
<p><%= @post.content.html_safe%></p>

<%= link_to "목록 |", posts_path %>
<%= link_to "편집 | ", edit_post_path %>
<%= link_to "삭제", post_path,
			method: :delete,
			data: {confirm: 'Are you sure?'} %>